// @import '~node_modules/buildo-react-components/src/utils/theme/variables.scss';

body {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;

  input {
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
  }

  .examples {
    font-size: 14px;
  }
}

#rsg-root > div {
  overflow: hidden;
  padding-left: 240px;
}

a[title="Open isolated"] {
  display: none;
}

section > *:not(section):first-child,
header > *:first-child {
  // hacky selector to remove custom element <hnan> containing un unwanted title/link
  display: none;
}

h1.component-title {
  font-size: 54px;
  margin: 0;
  font-weight: 600;
  text-align: left;
  color: #333;
}

.component-tabs.panel.tabbed-panel {
  margin: 0;

  > .panel-content {
    padding: 0;
    padding-top: 30px;
  }

  > .panel-header .tabbed-panel-tabs {
    background: white;
    border-bottom: 1px solid #ced0da;

    .tabbed-panel-tab {
      flex: 0 0 auto !important;
      padding: 0 20px;
      border-bottom: none;

      &.active {
        box-shadow: 0px -3px 0px 0px #1a91eb inset;
        font-weight: 600;
      }
    }
  }
}

// GETTING STARTED
.pattern-getting-started {
  position: absolute;
  top: 0;
  left: 240px;
  height: 104px;
  width: calc(100% - 240px);
}

// SIDEBAR
#rsg-root div[class^="rsg--sidebar"] {
  width: 240px;
  background: #f0f3f8;

  div[class^="rsg--root"], li[class^="rsg--item"] {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
  }

  ul {
    padding: 0;
  }

  div[class^="rsg--root"] > ul > li > ul > li > a {
    padding-left: 36px;
  }

  div[class^="rsg--root"] > ul > li > ul > li:last-child {
    padding-bottom: 26px;
  }

  div[class^="rsg--root"] > ul > li > a {
    // font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  div[class^="rsg--logo"] {
    background: white;
  }

  a {
    display: block;
    color: black;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    color: #727a86;
    font-weight: 400;

    &:hover {
      color: #1a91eb;
    }
  }

  input {
    border-radius: 100px;
    padding: 8px 16px;
    font-family: "Source Sans Pro", sans-serif;

    &::placeholder {
      color: rgb(144, 152, 167);
      font-size: 16px;
      font-family: "Source Sans Pro", sans-serif;
    }
  }
}

// MARKDOWN CONTENT
#rsg-root {
  main {
    margin: 0;
    padding: 40px 60px;
    max-width: none;
    min-width: 800px;
  }

  .guidelines {
    img {
      max-width: 100%;
      margin: 10px 0;
    }
  }

  .live-examples {
    h3 {
      font-size: 24px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 16px;
    }

    h4 {
      color: #354052;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .guidelines,
  .live-examples {
    color: #727a86;
    font-size: 15px;

    h1, h2, h3, h4 {
      font-family: "Source Sans Pro", sans-serif;
    }

    h1 {
      font-size: 32px;
      font-weight: 600;
      margin-top: 50px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ced0da; // silver
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
    }

    // italic
    em {
      // color: #9098a7; //$brc-coolGrey;
    }

    // code
    code {
      padding: 2.5px 5px;
      margin: 0;
      font-size: 85%;
      background-color: rgba(27,31,35,0.05);
      border-radius: 3px;
    }

    // link
    a,
    a > code {
      cursor: pointer;
      color: #1a91eb;

      &:hover {
        text-decoration: underline;
      }
    }

    button[name="rsg-code-editor"] {
      display: none; // hide "CODE" button
    }

    div[class^="rsg--preview"] {
      padding: 30px 40px;
    }

    ul p {
      margin-bottom: 5px;
    }

    ul > li > ul {
      list-style-type: circle;
    }

    ul > li > ul > li > ul {
      list-style-type: square;
    }
  }

  table[class^="rsg"] {
    margin-top: 34px;
    border-collapse: collapse;
    color: #354052;
    font-size: 16px;

    tr {
      height: 40px;
    }

    thead th {
      padding: 0 5px;
      border: 1px solid #dfe3e9;
      background-color: #f0f3f8;
      color: #7f8fa4;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      vertical-align: middle;

      &:first-child {
        max-width: 460px;
      }

      &:nth-child(2) {
        // min-width: 400px;
      }
    }

    tbody td {
      padding: 20px;
      border: 1px solid #dfe3e9;
      vertical-align: middle;

      strong {
        font-weight: 600;
      }

      img {
        min-width: 150px;
        max-width: 100%;
      }

      &:first-child {
        max-width: 460px;
      }

      code {
        // background-color: #7f8fa4;
      }
    }
  }

  footer {
    display: none;
  }
}
