body {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;

  input {
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
  }

  .examples {
    font-size: 14px;
  }
}

#app > div {
  overflow: hidden;
  padding-left: 240px;
}

a[title="Open isolated"] {
  display: none;
}

section > *:not(section):first-child,
header > *:first-child {
  // hacky selector to remove custom element <hnan> containing un unwanted title/link
  display: none;
}

h1.component-title {
  font-size: 27px;
  font-weight: 600;
  text-align: left;
  color: #354052;
}

.component-tabs.panel.tabbed-panel {
  margin: 0;

  > .panel-content {
    padding: 0;
    padding-top: 30px;
  }

  > .panel-header .tabbed-panel-tabs {
    background: white;
    border-bottom: 1px solid #ced0da;

    .tabbed-panel-tab {
      flex: 0 0 auto !important;
      padding: 0 20px;
      border-bottom: none;

      &.active {
        box-shadow: 0px -3px 0px 0px #1a91eb inset;
        font-weight: 600;
      }
    }
  }
}

// GETTING STARTED
.pattern-getting-started {
  position: absolute;
  top: 0;
  left: 240px;
  height: 104px;
  width: calc(100% - 240px);
}

// SIDEBAR
#app div[class^="rsg--sidebar"] {
  width: 240px;

  div[class^="rsg--root"], li[class^="rsg--item"] {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
  }

  ul {
    padding: 0;
  }

  div[class^="rsg--root"] > ul > li > ul > li > a {
    padding-left: 36px;
  }

  div[class^="rsg--root"] > ul > li > ul > li:last-child {
    padding-bottom: 26px;
  }

  a {
    display: block;
    color: black;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    color: #727a86;
    font-weight: 400;

    &:hover {
      color: #1a91eb;
    }
  }
}

// MARKDOWN CONTENT
#app {
  main {
    margin: 0;
    padding: 40px 60px;
  }

  article[class^="rsg"] {
    color: #727a86;

    h1 {
      font-size: 27px;
      font-weight: normal;
      margin-top: 50px;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    h4 {
      color: #354052;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
    }

    h1, h2, h3, h4 {
      font-family: "Source Sans Pro", sans-serif;
    }

    button[name="rsg-code-editor"] {
      display: none;
    }

    div[class^="rsg--preview"] {
      padding: 30px 40px;
    }
  }

  table[class^="rsg"] {
    margin-top: 34px;
    border-collapse: collapse;
    color: #354052;
    font-size: 16px;

    tr {
      height: 40px;
    }

    thead th {
      padding: 0 5px;
      border: 1px solid #dfe3e9;
      background-color: #f0f3f8;
      color: #7f8fa4;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      vertical-align: middle;

      &:nth-child(2) {
        // min-width: 400px;
      }
    }

    tbody td {
      padding: 0 5px;
      border: 1px solid #dfe3e9;
      vertical-align: middle;

      code {
        // background-color: #7f8fa4;
      }
    }
  }

  footer {
    display: none;
  }
}
